In [ ]:
import pandas as pd
import numpy as np

In [21]:
data={'state':[1,1,2,2,1,2,5],'pop':['a','b','c','d','b','c','d']}
frame=pd.DataFrame(data) 
frame

   state pop
0      1   a
1      1   b
2      2   c
3      2   d
4      1   b
5      2   c
6      5   d

##  1 去重  返回数据

In [22]:
a=frame.drop_duplicates(subset=['pop'],keep='first')
a

   state pop
0      1   a
1      1   b
2      2   c
3      2   d

In [23]:
a=frame.drop_duplicates(subset=['pop','state'],keep='first')
a

   state pop
0      1   a
1      1   b
2      2   c
3      2   d
6      5   d

## 2 遍历行

In [27]:
for row in frame.iterrows():  #用一个变量遍历 返回的是  tuple(index->int,row->series)  
    print(row,type(row),type(row[0]),type(row[1]))
for index,row in frame.iterrows():  #用两个变量遍历 返回的是 index->int,row->series
    print(index,row,type(index),type(row))

(0, state    1
pop      a
Name: 0, dtype: object) <class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>
(1, state    1
pop      b
Name: 1, dtype: object) <class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>
(2, state    2
pop      c
Name: 2, dtype: object) <class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>
(3, state    2
pop      d
Name: 3, dtype: object) <class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>
(4, state    1
pop      b
Name: 4, dtype: object) <class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>
(5, state    2
pop      c
Name: 5, dtype: object) <class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>
(6, state    5
pop      d
Name: 6, dtype: object) <class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>
0 state    1
pop      a
Name: 0, dtype: object <class 'int'> <class 'pandas.core.series.Series'>
1 state    1
pop      b
Name: 1, dtype: object <class 'int'> <class 'pandas.core.series.Series'>
2 state    2
pop      c
Name: 2, dtype: object <class 'int'> <class 'pandas.core.series.Series'>
3 state    2
pop      d
Name: 3, dtype: object <class 'int'> <class 'pandas.core.series.Series'>
4 state    1
pop      b
Name: 4, dtype: object <class 'int'> <class 'pandas.core.series.Series'>
5 state    2
pop      c
Name: 5, dtype: object <class 'int'> <class 'pandas.core.series.Series'>
6 state    5
pop      d
Name: 6, dtype: object <class 'int'> <class 'pandas.core.series.Series'>